<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- bootstrap libs  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Custom styles for this template -->
  <link type="text/css" rel="stylesheet" href="../css/simple-sidebar.css">
  <link type="text/css" rel="stylesheet" href="../css/profile_page_general.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    .table-shadow {
      box-shadow: -1px 1px 7px #888888;
    }
  </style>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <%- include('../partials/responsive_side_bar_admin.ejs') %>

      <!-- Page Content -->
      <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg justify-content-between navbar-light bg-light border-bottom">

          <a href="javascript:void(0)" class="btn text-primary" id="menu-toggle"><i class="fa fa-bars"></i></a>

          <a href="/webadminlogout" class="btn btn-danger">Logout</a>

        </nav>

        <!-- page content start here -->
        <div class="container-fluid">

          <!-- mesage of updated profile -->
          <% if(data.message != ""){ %>
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Success!</strong> <%= data.message %>
            </div>
            <% } %>

              <!-- profile pic and names -->
              <div class="row d-flex mr-4 mt-4 ml-2 flex-wrap align-items-center justify-content-between">

                <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
                  <div id="profile-pic" class="mr-4">
                    <img src="../images/avatar.png" alt="">
                  </div>
                  <div class="d-flex flex-column">
                    <h3>
                      <%= data.admin.name %>
                    </h3>
                    <p>App-Admin</p>
                  </div>

                </div>
                <div class="mt-2">
                  <a href="/webadminedit" class="btn btn-primary">Edit Details</a>
                </div>
              </div>

              <!-- personal detail table -->

              <div class="row mx-lg-2 mx-md-2 mr-2 mt-4">
                <!-- table div  -->
                <div class="p-1 table-responsive">
                  <div class="pl-2 pt-3 pb-2 bg-primary text-light">
                    <h5>Personal Details</h5>
                  </div>
                  <table class="bg-light table-shadow table table-borderless">
                    <tr>
                      <th>Mobile:</th>
                      <td>
                        <%= data.admin.mobile %>
                      </td>
                    </tr>
                    <tr>
                      <th>email:</th>
                      <td>
                        <%= data.admin.email %>
                      </td>
                    </tr>
                    <tr>
                      <th>Pan:</th>
                      <td>
                        <%= data.admin.pan %>
                      </td>
                    </tr>
                    <tr>
                      <th>Aadhar:</th>
                      <td>
                        <%= data.admin.aadhaar %>
                      </td>
                    </tr>
                  </table>
                </div>
                <!-- table div ended -->
              </div>

              <!-- bank details and other contact details -->
              <div class="row mx-lg- mx-md-2 mr-2 d-flex flex-row flex-wrap">

                <div class="col-lg-6 col-md-12 overflow-auto p-1 m-0">
                  <div class="pl-2 pt-2 pb-1 bg-success text-light">
                    <h5>Bank Details</h5>
                  </div>
                  <table class="table table-shadow bg-light table-borderless">
                    <tr>
                      <th>Ifsc:</th>
                      <td>
                        <%= data.admin.ifsc %>
                      </td>
                    </tr>
                    <tr>
                      <th>Bank:</th>
                      <td>
                        <%= data.admin.bankname %>
                      </td>
                    </tr>
                    <tr>
                      <th>Acc no:</th>
                      <td>
                        <%= data.admin.accountno %>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="col-lg-6 col-md-12overflow-auto p-1 m-0">
                  <div class="pl-2 pt-2 pb-1 bg-success text-light">
                    <h5>Emergency Details</h5>
                  </div>
                  <table class="table table-shadow bg-light table-borderless">
                    <tr>
                      <th>Emergency person name:</th>
                      <td>
                        <%= data.admin.ename %>
                      </td>
                    </tr>
                    <tr>
                      <th>Emergency contact:</th>
                      <td>
                        <%= data.admin.emobile %>
                      </td>
                    </tr>
                    <tr>
                      <th>Emergency Relation:</th>
                      <td>
                        <%= data.admin.erelation %>
                      </td>
                    </tr>
                  </table>
                </div>

              </div>



        </div>
        <!-- Page content end here  -->
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->







  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
  <script>
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
      location.reload(true);
    }
  </script>
</body>

</html>