<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap libs  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- select bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="../css/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="../css/approval_request_general.css" />

    <link type="text/css" rel="stylesheet" href="../css/profile_page_general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <div class="d-flex" id="wrapper">

        <%- include('../partials/responsive_side_bar_admin.ejs') %>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-light border-bottom">

                    <a href="javascript:void(0)" class="btn text-primary" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <div class="">
                        <a href="/webadminlogout" class="btn btn-danger">Logout</a>
                    </div>
                </nav>

                <!-- modal for rejection -->

                <div id="rejection_form_model" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modal Heading</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <h4>Please Select the reason for rejection </h4>
                                <form method="POST" id="reject_form" class="p-4" action="">
                                    <div class="form-check">
                                        <label class="form-check-label" for="check1">
                                            <input type="checkbox" class="form-check-input" id="check1" name="aadhaar" value="aadhaarimage" checked>Aadhar
                                            incorrect
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="check2">
                                            <input type="checkbox" class="form-check-input" id="check2" name="pan" value="panimage">Problem
                                            with Pan
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- right side pane -->

                <div class="bg-dark w-md-100 w-sm-100 w-lg-50 container" id="right_side_pane">
                    <div class="row justify-content-between p-4">
                        <div>
                            <a href="" id="approve_btn" class="btn btn-success mr-2">Approve</a>
                            <a href="javascript:void(0)" id="reject_btn" data-toggle="modal" data-target="#rejection_form_model" class="btn btn-danger mr-2">Reject</a>
                        </div>
                        <a href="javascript:void(0)" class="h2" onclick="close_side_pane()"><i class="fa fa-close text-danger"></i></a>
                    </div>
                    <div class="pl-4 pr-4 ">
                        <div class="p-3 text-white w-100">
                            <table>
                                <tr>
                                    <th>Name:</th>
                                    <td id="name">8767876545</td>
                                </tr>
                                <tr>
                                    <th>Mobile:</th>
                                    <td id="mobile">8767876545</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td id="email">8767876545</td>
                                </tr>
                                <tr>
                                    <th>bankname:</th>
                                    <td id="bankname">xyz@gmail.com</td>
                                </tr>
                                <tr>
                                    <th>accountno:</th>
                                    <td id="accountno">8767876545</td>
                                </tr>
                                <tr>
                                    <th>ifsc:</th>
                                    <td id="ifsc">xyz@gmail.com</td>
                                </tr>
                                <tr>
                                    <th>aadhar:</th>
                                    <td id="aadhaar">Bhopal</td>
                                </tr>
                                <tr>
                                    <th>pan:</th>
                                    <td id="pan">Bhopal</td>
                                </tr>
                            </table>
                        </div>
                        <div class="container" id="document_container">
                            <div class="row w-100">
                                <div class="col-12">
                                    <a href="" id="aadhaarimage_a" target="_blank" download="image"><img target="_blank"
                                            id="aadhaarimage" alt="not avaliable"></a>
                                </div>
                                <div class="col-12">
                                    <a href="" id="panimage_a" target="_blank" download="image"><img target="_blank" id="panimage"
                                            alt="not avaliable"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- page content start here -->
                <div class="container-fluid">
                    <div class="row p-3 ">
                        <div class="w-100 mb-4 text-center text-primary border-bottom">
                            <h3>AreaManager Approval Request</h3>
                        </div>
                        <div class="container-fluid">
                            <% for (var i =0; i < data.areamanager.length;  i++ ) { %>
                                <div id="request-card" class="row border shadow mb-4 d-flex align-items-end justify-content-between p-3 bg-white">
                                    <div id="">
                                        <h5>
                                            <%= data.areamanager[i].name %> (
                                                <%= data.areamanager[i].mobile %>)
                                        </h5>
                                        <p>Email :
                                            <%= data.areamanager[i].email %>
                                        </p>
                                        <a href="javascript:void(0)" onclick="showRequestDetails(<%= i %> , <%= data.areamanager[i].mobile %>)" class="btn btn-primary">Show
                                            more details
                                        </a>
                                    </div>

                                </div>
                                <% } %>
                        </div>
                    </div>

                </div>
                <!-- Page content end here  -->
            </div>
            <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

<script>

    function showRequestDetails(index, mobile) {
        console.log("hello");
        var right_pane = document.getElementById("right_side_pane");
        if (right_pane.style.display == "block") {
            right_pane.style.display = "none";
        }
        else {

            //send ajax request to a api
            var xmlhttp = new XMLHttpRequest();
            var url = "/getareamanagerdata/" + mobile;
            xmlhttp.onreadystatechange = function () {
                console.log(this.status)
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);

                    placeInPane(data, mobile);
                }
            };
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
            right_pane.style.right = "0px";
            right_pane.style.display = "block";
        }
    }
    function close_side_pane() {
        var right_pane = document.getElementById("right_side_pane");
        right_pane.style.display = "none";
    }
    function placeInPane(data, mobile) {
        var i = 0;

        var keys = Object.keys(data)
        console.log(data)

        document.getElementById('name').innerHTML = data.name;
        document.getElementById('email').innerHTML = data.email;
        document.getElementById('aadhaar').innerHTML = data.aadhaar;
        document.getElementById('mobile').innerHTML = data.mobile;
        document.getElementById('pan').innerHTML = data.pan;
        document.getElementById('accountno').innerHTML = data.accountno;
        document.getElementById('bankname').innerHTML = data.bankname;
        document.getElementById('ifsc').innerHTML = data.ifsc;


        document.getElementById('aadhaarimage').setAttribute('src', "https://transfly-ftr2t.ondigitalocean.app/areamanager/image/" + data.mobile + "/aadhaarimage")
        document.getElementById('aadhaarimage_a').setAttribute('href', "https://transfly-ftr2t.ondigitalocean.app/areamanager/image/" + data.mobile + "/aadhaarimage")

        document.getElementById('panimage').setAttribute('src', "https://transfly-ftr2t.ondigitalocean.app/areamanager/image/" + data.mobile + "/panimage")
        document.getElementById('panimage_a').setAttribute('href', "https://transfly-ftr2t.ondigitalocean.app/areamanager/image/" + data.mobile + "/panimage")

        document.getElementById("approve_btn").setAttribute('href', "/areamanager_request_action/" + mobile)
        document.getElementById("reject_form").setAttribute('action', "/areamanager_request_action/" + mobile)

    }
</script>

<script>
    function openImage(imgaddress) {
        console.log("hello");
        window.open(imgaddress, '_blank');

    }
    $('select').selectpicker();
</script>

<script>
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
        location.reload(true);
    }
</script>

</html>