<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap libs  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="../css/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="../css/employee_search_input_table.css" />

    <link type="text/css" rel="stylesheet" href="../css/profile_page_general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        .table-shadow {
            box-shadow: -1px 1px 7px #888888;
        }

        /* multi select mine selct form css */
        .multiselect {
            width: 20em;
            height: 200px;
            padding: 10px;
            border: solid 1px #c0c0c0;
            overflow: auto;
        }

        .multiselect label {
            display: block;
            margin-bottom: 0px;
        }

        .multiselect-on {
            color: #ffffff;
            background-color: #000099;
        }

        /* multi select mine selct form css ends------------- */
    </style>

</head>

<body>

    <div class="d-flex" id="wrapper">

        <%- include('../partials/responsive_side_bar_admin.ejs') %>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-light border-bottom">

                    <a href="javascript:void(0)" class="btn text-primary" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <div class="">
                        <a href="/webadminlogout" class="btn btn-danger">Logout</a>
                    </div>
                </nav>

                <!-- page content start here -->
                <div class="container-fluid">
                    <!-- profile pic and names -->
                    <div class="row d-flex mr-4 mt-4 ml-2 flex-wrap align-items-center justify-content-between">

                        <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
                            <div id="profile-pic" class="mr-4">
                                <img src="../images/avatar.png" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <h3>
                                    <%= data.fieldstaff.name %>
                                </h3>
                                <p>(fieldstaff)</p>
                            </div>

                        </div>
                        <div class="mt-2">
                            <img src="../images/truck.png" class="mr-4" width="100" height="70" alt="">
                        </div>
                    </div>

                    <!-- personal and bank details  -->
                    <br><br>
                    <div id="profile-content" class="row justify-content-start mr-4">
                        <div class="col-lg-6 mt-2 col-md-12">
                            <div class="pl-2 pt-3 pb-2 bg-primary text-light">
                                <h5>Personal Details</h5>
                            </div>
                            <div class="p-3 table-responsive shadow bg-light">
                                <table class="table table-borderless" style="width:100%">
                                    <tr>
                                        <th>Mobile:</th>
                                        <td>
                                            <%= data.fieldstaff.mobile %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>email:</th>
                                        <td>
                                            <%= data.fieldstaff.email %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Pan:</th>
                                        <td>
                                            <%= data.fieldstaff.pan %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Aadhar:</th>
                                        <td>
                                            <%= data.fieldstaff.aadhaar %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Mines :</th>
                                        <td>
                                            <%= data.fieldstaff.mine %>
                                        </td>
                                    </tr>
                                </table>
                                <div class="d-flex justify-content-center">
                                    <a href="/revokemine/<%=  data.fieldstaff.mine  %>" class="btn btn-danger">Revoke mine
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6 mt-2 col-md-12 ">
                            <div class="pl-2 pt-2 pb-1 bg-success text-light">
                                <h5>Assign Mine</h5>
                            </div>
                            <div class="p-3 table-responsive shadow bg-light ">
                                <form method="POST" action="/update_fs_mine/<%= data.fieldstaff.mobile  %>">
                                    <div class="multiselect">
                                        <!-- looping through mines -->
                                        <% for(var i =0 ; i< data.fieldstaff.allmines.length ; i++){ %>
                                            <div class="d-flex">

                                                <!-- check if mine is null so enabke checkbox else disable it -->
                                                <% if(data.fieldstaff.allmines[i].fieldstaff == null ) { %>

                                                    <div class="form-check">
                                                        <label class="form-check-label" for="radio2">
                                                            <input type="radio" class="form-check-input" id="mines" name="mine_alloted" value="<%= data.fieldstaff.allmines[i].id  %>">
                                                            <%= data.fieldstaff.allmines[i].name  %>
                                                        </label>
                                                    </div>

                                                    <% }  else {%>
                                                        <% if(data.fieldstaff.allmines[i].fieldstaff == data.fieldstaff.mobile){ %>
                                                            <div class="form-check">
                                                                <label class="form-check-label" for="radio2">
                                                                    <input checked="checked" type="radio" class="form-check-input" id="mines" name="mine_alloted" value="<%= data.fieldstaff.allmines[i].id  %>">
                                                                    <%= data.fieldstaff.allmines[i].name  %>
                                                                </label>
                                                            </div>
                                                            <% }  else {%>
                                                                <div class="form-check">
                                                                    <label class="form-check-label" for="radio2">
                                                                        <input disabled type="radio" class="form-check-input" id="mines" name="mine_alloted" value="<%= data.fieldstaff.allmines[i].id  %>">
                                                                        <%= data.fieldstaff.allmines[i].name  %>
                                                                    </label>
                                                                </div>
                                                                <% } } %>

                                            </div>

                                            <% } %>
                                    </div>
                                    <input type="submit" value="submit">
                                </form>
                            </div>

                        </div>
                    </div>

                    <!--Emergency details table  -->
                    <br>
                    <div id="profile-content" class="row justify-content-start mr-4">
                        <div class="col-md-12 mt-2 col-lg-6 box-shadow">
                            <div class="pl-2 pt-2 pb-1 bg-success text-light">
                                <h5>Emergency Contact Details</h5>
                            </div>
                            <div class="p-3 table-responsive shadow bg-light">
                                <table class="table table-borderless" style="width:100%">
                                    <tr>
                                        <th>Emergency person name:</th>
                                        <td>
                                            <%= data.fieldstaff.ename %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Emergency contact:</th>
                                        <td>
                                            <%= data.fieldstaff.emobile %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Emergency Relation:</th>
                                        <td>
                                            <%= data.fieldstaff.erelation %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                        <div class="col-lg-6 mt-2 col-md-12 ">
                            <div class="pl-2 pt-2 pb-1 bg-success text-light">
                                <h5>Bank Details</h5>
                            </div>
                            <div class="p-3 table-responsive shadow bg-light ">

                                <table class="table table-borderless" style="width:100%">
                                    <tr>
                                        <th>Ifsc:</th>
                                        <td>
                                            <%= data.fieldstaff.ifsc %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Bank:</th>
                                        <td>
                                            <%= data.fieldstaff.bankname %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Acc no:</th>
                                        <td>
                                            <%= data.fieldstaff.accountno %>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <br><br>
            </div>
            <!-- Page content end here  -->
    </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->







    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>