<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap libs  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="../css/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="../css/employee_search_input_table.css" />

    <link type="text/css" rel="stylesheet" href="../css/profile_page_general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <%- include('../partials/responsive_side_bar_admin.ejs') %>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-light border-bottom">

                    <a href="javascript:void(0)" class="btn text-primary" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <div class="">
                        <a href="/webadminlogout" class="btn btn-danger">Logout</a>
                    </div>
                </nav>

                <!-- page content start here -->
                <div class="container ">
                    <!-- heading  -->
                    <div class="row mt-2">
                        <div class="w-100 text-center text-danger border-bottom">
                            <h4>All <span class="text-primary">Field Staff </span> List</h4>
                        </div>
                        <br>
                    </div>
                    <br>
                    <!-- search input row -->
                    <div class="row mb-4 justify-content-center">
                        <div id="search-input-row" class="w-75">
                            <input type="text" class="w-100 rounded" id="searchInput" onkeyup="filterEmployee()" placeholder="  Search for anything to filter data.."
                                title="Type in a name">
                        </div>
                    </div>

                    <!-- complete table list row  -->
                    <div id="EmployeesTable_row" class="table-responsive ml-2 d-flex justify-content-center row">
                        <table class="table" id="EmployeesTable">
                            <tr class="header">
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Mine</th>
                            </tr>
                            <% if(data.fieldstaff.length != 0) { %>
                                <% for (var i =0; i < data.fieldstaff.length;  i++ ) { %>
                                    <tr>
                                        <td> <a href="/webspecificfieldstaff/<%= data.fieldstaff[i].mobile %>">
                                                <%= data.fieldstaff[i].name %></a>
                                        </td>
                                        <td>
                                            <%= data.fieldstaff[i].mobile %>
                                        </td>
                                        <td>
                                            <%= data.fieldstaff[i].mine %>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } else { %>
                                            <tr>
                                                <td>
                                                    <h4 class=" w-100 text-danger">No Field Staff found</h4>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                            <% }  %>

                        </table>
                    </div>
                </div>

                <!-- Page content end here  -->
            </div>
            <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->







    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>


<script>

    function filterEmployee() {
        var input, filter, table, tr, td, i, j, txtValue, no_of_col;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("EmployeesTable");
        tr = table.getElementsByTagName("tr");
        no_of_col = tr[0].getElementsByTagName('th').length;
        for (i = 0; i < tr.length; i++) {
            for (j = 0; j < no_of_col; j++) {
                td = tr[i].getElementsByTagName("td")[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    console.log(txtValue);
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

        }
    }
</script>
<script>
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
        location.reload(true);
    }
</script>

</html>