<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap libs  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="../css/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="../css/employee_search_input_table.css" />

    <link type="text/css" rel="stylesheet" href="../css/profile_page_general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .table-shadow {
            box-shadow: -1px 1px 7px #888888;
        }
        
        #invoice {
            padding: 30px;
        }
        
        .invoice {
            position: relative;
            background-color: #FFF;
            min-height: 680px;
            padding: 15px
        }
        
        .invoice header {
            padding: 10px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #3989c6
        }
        
        .invoice .company-details {
            text-align: right
        }
        
        .invoice .company-details .name {
            margin-top: 0;
            margin-bottom: 0
        }
        
        .invoice .contacts {
            margin-bottom: 20px
        }
        
        .invoice .invoice-to {
            text-align: left
        }
        
        .invoice .invoice-to .to {
            margin-top: 0;
            margin-bottom: 0
        }
        
        .invoice .invoice-details {
            text-align: right
        }
        
        .invoice .invoice-details .invoice-id {
            margin-top: 0;
            color: #3989c6
        }
        
        .invoice main {
            padding-bottom: 50px
        }
        
        .invoice main .thanks {
            margin-top: -100px;
            font-size: 2em;
            margin-bottom: 50px
        }
        
        .invoice main .notices {
            padding-left: 6px;
            border-left: 6px solid #3989c6
        }
        
        .invoice main .notices .notice {
            font-size: 1.2em
        }
        
        .invoice table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px
        }
        
        .invoice table td,
        .invoice table th {
            padding: 15px;
            background: #eee;
            border-bottom: 1px solid #fff
        }
        
        .invoice table th {
            white-space: nowrap;
            font-weight: 400;
            font-size: 16px
        }
        
        .invoice table td h3 {
            margin: 0;
            font-weight: 400;
            color: #3989c6;
            font-size: 1.2em
        }
        
        .invoice table .qty,
        .invoice table .total,
        .invoice table .unit {
            text-align: right;
            font-size: 1.2em
        }
        
        .invoice table .no {
            color: #fff;
            font-size: 1.6em;
            background: #3989c6
        }
        
        .invoice table .unit {
            background: #ddd
        }
        
        .invoice table .total {
            background: #3989c6;
            color: #fff
        }
        
        .invoice table tbody tr:last-child td {
            border: none
        }
        
        .invoice table tfoot td {
            background: 0 0;
            border-bottom: none;
            white-space: nowrap;
            text-align: right;
            padding: 10px 20px;
            font-size: 1.2em;
            border-top: 1px solid #aaa
        }
        
        .invoice table tfoot tr:first-child td {
            border-top: none
        }
        
        .invoice table tfoot tr:last-child td {
            color: #3989c6;
            font-size: 1.4em;
            border-top: 1px solid #3989c6
        }
        
        .invoice table tfoot tr td:first-child {
            border: none
        }
        
        .invoice footer {
            width: 100%;
            text-align: center;
            color: #777;
            border-top: 1px solid #aaa;
            padding: 8px 0
        }
        
        @media print {
            .invoice {
                font-size: 11px !important;
                overflow: hidden !important
            }
            .invoice footer {
                position: absolute;
                bottom: 10px;
                page-break-after: always
            }
            .invoice>div:last-child {
                page-break-before: always
            }
        }
    </style>

</head>

<body>
    <div class="d-flex" id="wrapper">

        <%- include('../partials/responsive_side_bar_finance.ejs') %>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-light border-bottom">

                    <a href="javascript:void(0)" class="btn text-primary" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <div class="">
                        <a href="/webadminlogout" class="btn btn-danger">Logout</a>
                    </div>
                </nav>

                <!-- page content start here -->
                <div class="container-fluid">
                    <!-- invoice heading -->
                    <div class="w-100 border-bottom text-center text-primary">
                        <h4>Invoice No : {{
                            <%= data.invoice.id %> }}
                        </h4>
                    </div>
                    <!-- personal and bank details  -->
                    <br>
                    <div class="w-100 text-center">
                        <button class="btn btn-primary" onclick="printinvoice()">print</button>
                        <a href="/webupdatecompletedinvoice/<%= data.invoice.id %>" class="btn btn-danger"> Update Invoice</a>
                    </div>
                    <div id="profile-content" class="row justify-content-start mr-4">
                        <!--Author      : @arboshiki-->

                        <div id="invoice_print" class="container mt-4">
                            <div class="card">
                                <div class="card-header">
                                    Invoice
                                    <strong><%= data.invoice.date  %> </strong>
                                    <span class="float-right"> <strong>Status:</strong> <%= data.invoice.status %></span>

                                </div>
                                <div class="card-body">
                                    <div class="row d-flex justify-content-between mb-4">
                                        <div class="d-flex justify-content-start">
                                            <div class="logo d-flex align-items-center">
                                                <img src="../images/logo.jpg" width="120" height="100" alt="">
                                            </div>
                                            <div>
                                                <h6 class="mb-3">From:</h6>
                                                <div>
                                                    <strong>Transfly Logistic</strong>
                                                </div>
                                                <div>Madalinskiego 8</div>
                                                <div>71-101 Szczecin, Poland</div>
                                                <div>Email: info@webz.com.pl</div>
                                                <div>Phone: +48 444 666 3333</div>
                                            </div>
                                        </div>

                                        <div class="">
                                            <h6 class="mb-3">To:</h6>
                                            <div>
                                                <strong><%= data.invoice.vehicleowner %></strong>
                                            </div>
                                            <div>vehicle no:
                                                <%= data.invoice.vehicle %>
                                            </div>
                                            <div>Phone:
                                                <%= data.invoice.vehicleownermobile %>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="row p-4 mx-1 mb-2 border-top ">
                                        <table class="table table-borderless">
                                            <tr>
                                                <th>Mine:</th>
                                                <td>
                                                    <%= data.invoice.minename %> (
                                                        <%= data.invoice.mineid %> )
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Loading :</th>
                                                <td>
                                                    <%= data.invoice.loading %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Tonnage:</th>
                                                <td>
                                                    <%= data.invoice.tonnage %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Rate:</th>
                                                <td>
                                                    <%= data.invoice.rate %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Challan To Transporter:</th>
                                                <td>
                                                    <%= data.invoice.challantotransporter %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Balance Amount Cleared:</th>
                                                <td>
                                                    <%= data.invoice.balanceamountcleared %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Transporter:</th>
                                                <td>
                                                    <%= data.invoice.transporter %>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>

                                    <div class="table-responsive-sm">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="center">#</th>
                                                    <th>Component</th>
                                                    <th>Description</th>

                                                    <th class="right">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">1</td>
                                                    <td class="left strong">Amount</td>
                                                    <td class="left">rate times tonnage</td>

                                                    <td class="right">
                                                        <%= data.invoice.amount %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="center">2</td>
                                                    <td class="left">HSD</td>
                                                    <td class="left">High Speed Diesel</td>

                                                    <td class="right">
                                                        <%= data.invoice.hsd %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="center">3</td>
                                                    <td class="left">TDS</td>
                                                    <td class="left">Tax Deducted at Source</td>

                                                    <td class="right">
                                                        <%= data.invoice.tds %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="center">4</td>
                                                    <td class="left">CASH</td>
                                                    <td class="left">--------</td>

                                                    <td class="right">
                                                        <%= data.invoice.cash %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="center">5</td>
                                                    <td class="left">Office Charge</td>
                                                    <td class="left">--------</td>

                                                    <td class="right">
                                                        <%= data.invoice.officecharge %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="center">7</td>
                                                    <td class="left">Shortage</td>
                                                    <td class="left">--------</td>

                                                    <td class="right">
                                                        <%= data.invoice.shortage %>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row d-flex justify-content">
                                        <div class="col-lg-4 col-sm-6 ml-auto">
                                            <table class="table border-top table-clear">
                                                <tbody>
                                                    <tr>
                                                        <td class="left">
                                                            <strong>Balance Amount</strong>
                                                        </td>
                                                        <td class="right border-0 float-right">
                                                            <%= data.invoice.balanceamount %>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- 
                            <div class="col-lg-4 col-sm-5 ml-auto">
                                <table class="table table-clear">
                                    <tbody>
                                        <tr>
                                            <td class="left">
                                                <strong>Subtotal</strong>
                                            </td>
                                            <td class="right">$8.497,00</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Discount (20%)</strong>
                                            </td>
                                            <td class="right">$1,699,40</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>VAT (10%)</strong>
                                            </td>
                                            <td class="right">$679,76</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Total</strong>
                                            </td>
                                            <td class="right">
                                                <strong>$7.477,36</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
    
                            </div> -->

                                    </div>

                                </div>
                            </div>
                        </div>

                        <br><br>


                        <!-- <div class="col-lg-6 mt-2 col-md-12">
                            <div class="pl-2 pt-2 pb-1 bg-primary text-light">
                                <h5>Details</h5>
                            </div>
                            <div class="p-3 table-responsive shadow bg-light ">
                                <table class="table" style="width:100%">
                                    <tr>
                                        <th>Invoice id </th>
                                        <td>
                                            <%= data.invoice.id %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Vehicle no</th>
                                        <td>
                                            <%= data.invoice.vehicle %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>tonnage </th>
                                        <td>
                                            <%= data.invoice.tonnage %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>rate </th>
                                        <td>
                                            <%= data.invoice.rate %> <span>Rs /sqft</span></td>

                                    </tr>
                                    <tr>
                                        <th>hsd </th>
                                        <td>
                                            <%= data.invoice.hsd %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>cash </th>
                                        <td>
                                            <%= data.invoice.cash %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>tds </th>
                                        <td>
                                            <%= data.invoice.tds %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>officecharge </th>
                                        <td>
                                            <%= data.invoice.officecharge %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>shortage </th>
                                        <td>
                                            <%= data.invoice.shortage %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>balanceamount </th>
                                        <td>
                                            <%= data.invoice.balanceamount %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>balanceamountcleared </th>
                                        <td>
                                            <%= data.invoice.balanceamountcleared %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>challantotransporter </th>
                                        <td>
                                            <%= data.invoice.challantotransporter %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>status </th>
                                        <td>
                                            <%= data.invoice.status %>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div> -->
                    </div>

                </div>
                <!-- Page content end here  -->
            </div>
            <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->







    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>
<script>
    $('#printInvoice').click(function() {
        Popup($('.invoice')[0].outerHTML);

        function Popup(data) {
            window.print();
            return true;
        }
    });

    function printinvoice() {
        var invoice = document.getElementById("invoice_print").innerHTML;
        var original = document.getElementById("wrapper").innerHTML;
        document.body.innerHTML = invoice;
        window.print()
        location.reload(true);
    }
</script>
<script>
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
        location.reload(true);
    }
</script>

</html>