<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap libs  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="../css/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="../css/employee_search_input_table.css" />

    <link type="text/css" rel="stylesheet" href="../css/profile_page_general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        .table-shadow {
            box-shadow: -1px 1px 7px #888888;
        }
    </style>

</head>

<body>

    <div class="d-flex" id="wrapper">

        <%- include('../partials/responsive_side_bar_admin.ejs') %>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-light border-bottom">

                    <a href="javascript:void(0)" class="btn text-primary" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <div class="">
                        <a href="/webadminlogout" class="btn btn-danger">Logout</a>
                    </div>
                </nav>

                <!-- page content start here -->
                <div class="container-fluid">
                    <!-- invoice heading -->
                    <div class="w-100 border-bottom text-center text-primary">
                        <h4>Invoice No : {{
                            <%= data.invoice.id %> }}
                        </h4>
                    </div>
                    <!-- personal and bank details  -->
                    <br>
                    <div id="profile-content" class="row justify-content-start mr-4">
                        <div class="col-lg-6 mt-2 col-md-12">
                            <div class="pl-2 pt-2 pb-1 bg-primary text-light">
                                <h5>Details</h5>
                            </div>
                            <div class="p-3 table-responsive shadow bg-light ">
                                <table class="table" style="width:100%">
                                    <tr>
                                        <th>Invoice id </th>
                                        <td>
                                            <%= data.invoice.id %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Vehicle no</th>
                                        <td>
                                            <%= data.invoice.vehicle %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>tonnage </th>
                                        <td>
                                            <%= data.invoice.tonnage %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>rate </th>
                                        <td>
                                            <%= data.invoice.rate %> <span>Rs /sqft</span></td>

                                    </tr>
                                    <tr>
                                        <th>hsd </th>
                                        <td>
                                            <%= data.invoice.hsd %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>cash </th>
                                        <td>
                                            <%= data.invoice.cash %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>tds </th>
                                        <td>
                                            <%= data.invoice.tds %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>officecharge </th>
                                        <td>
                                            <%= data.invoice.officecharge %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>shortage </th>
                                        <td>
                                            <%= data.invoice.shortage %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>balanceamount </th>
                                        <td>
                                            <%= data.invoice.balanceamount %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>balanceamountcleared </th>
                                        <td>
                                            <%= data.invoice.balanceamountcleared %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>challantotransporter </th>
                                        <td>
                                            <%= data.invoice.challantotransporter %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>status </th>
                                        <td>
                                            <%= data.invoice.status %>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Page content end here  -->
            </div>
            <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->







    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>