<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.css" />
    <!--Vendor CSS Files -->
    <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./css/basic_structure.css" />
    <link rel="stylesheet" type="text/css" href="./css/invoice.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .block {
            box-shadow: 2px 3px 13px -6px black;
        }
    </style>
</head>

<body>
    <!--------------------- side nav ------------------------------>

    <%- include('../partials/structure.ejs') %>

    <!------------------------------- right content -------------------------------------------->
    <div class="main">
        <div class="container-fluid">
            <div id="top-nav" class="row p-2 bg-white justify-content-end">
                <a href="/logout" class="btn btn-danger p-2 rounded mr-4">Logout</a>
            </div>
            <!---------------------------- main content row start here-->
            <div class="row p-3 ">
                <div class="w-100 border-bottom text-center text-primary">
                    <h4>Invoice No : {{
                        <%= data.invoive.id %> }}
                    </h4>
                </div>
                <div class="container-fluid">
                    <br>
                    <div class="row p-2 justify-content-center">
                        <div class="w-75 block">
                            <div class="pl-2 pt-2 pb-1 bg-primary text-light">
                                <h5>Details</h5>
                            </div>
                            <div class="p-3 bg-white ">
                                <table style="width:100%">
                                    <tr>
                                        <th>Invoice id </th>
                                        <td>
                                            <%= data.invoive.id %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Vehicle no</th>
                                        <td>
                                            <%= data.invoive.vehicleno %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>tonnage </th>
                                        <td>
                                            <%= data.invoive.tonnage %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>rate </th>
                                        <td>
                                            <%= data.invoive.rate %> <span>Rs /sqft</span></td>

                                    </tr>
                                    <tr>
                                        <th>hsd </th>
                                        <td>
                                            <%= data.invoive.hsd %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>cash </th>
                                        <td>
                                            <%= data.invoive.cash %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>tds </th>
                                        <td>
                                            <%= data.invoive.tds %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>officecharge </th>
                                        <td>
                                            <%= data.invoive.officecharge %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>shortage </th>
                                        <td>
                                            <%= data.invoive.shortage %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>balanceamount </th>
                                        <td>
                                            <%= data.invoive.balanceamount %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>balanceamountcleared </th>
                                        <td>
                                            <%= data.invoive.balanceamountcleared %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>challantotransporter </th>
                                        <td>
                                            <%= data.invoive.challantotransporter %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>status </th>
                                        <td>
                                            <%= data.invoive.status %>
                                        </td>
                                    </tr>

                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</body>
<script src="./js/bootstrap/bootstrap.min.js"></script>
<script src="./js/basic_structure.js"></script>

</html>