<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap libs  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="../css/simple-sidebar.css">
    <link type="text/css" rel="stylesheet" href="../css/profile_page_general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        .table-shadow {
            box-shadow: -1px 1px 7px #888888;
        }
    </style>

</head>

<body>

    <div class="d-flex" id="wrapper">

        <%- include('../partials/responsive_side_bar_admin.ejs') %>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg justify-content-between navbar-light bg-light border-bottom">

                    <a href="javascript:void(0)" class="btn text-primary" id="menu-toggle"><i class="fa fa-bars"></i></a>

                    <a href="/webadminlogout" class="btn btn-danger">Logout</a>

                </nav>

                <!-- page content start here -->
                <div class="container-fluid">

                    <!-- Mines heading -->
                    <div class="row d-flex mr-4 mt-4 ml-2 flex-wrap align-items-center justify-content-between">

                        <div class="w-100 text-primary text-center ">
                            <h3>Mines</h3>
                        </div>
                        <hr class="w-100">
                    </div>

                    <!-- mines card list -->
                    <div class="w-100 d-flex justify-content-center flex-wrap">
                        <% if(data.mine.length != 0) { %>

                            <% for (var i =0; i < data.mine.length;  i++ ) { %>
                                <div class="card shadow-sm m-2" style="width: 20rem;">
                                    <div class="card-body">
                                        <!-- <a class="card-title h4 text-primary" href="/webspecificmine/<%= data.mine[i].id %>"> -->
                                        <a class="card-title h4 text-primary" href="/web_specific_mine_loadings/<%= data.mine[i].id %>">
                                            <%= data.mine[i].name %>
                                        </a>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            <%= data.mine[i].area %>
                                        </h6>
                                        <table style="width:100%">

                                            <tr>
                                                <th>Active:</th>
                                                <td>
                                                    <% if( data.mine[i].active == true) { %>
                                                        Active
                                                        <% } else { %>
                                                            Inactive
                                                            <% }  %>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <% } %>

                                    <% } else { %>
                                        <h2>No Mines found</h2>
                                        <% }  %>


                    </div>
                    <!-- mines card list ends -->


                </div>
                <!-- Page content end here  -->
            </div>
            <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->







    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>


<script>
    function filterEmployee() {
        var input, filter, table, tr, td, i, j, txtValue, no_of_col;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("EmployeesTable");
        tr = table.getElementsByTagName("tr");
        no_of_col = tr[0].getElementsByTagName('th').length;
        for (i = 0; i < tr.length; i++) {
            for (j = 0; j < no_of_col; j++) {
                td = tr[i].getElementsByTagName("td")[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    console.log(txtValue);
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

        }
    }
</script>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script>
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
        location.reload(true);
    }
</script>

</html>