<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.css" />
    <!--Vendor CSS Files -->

    <link rel="stylesheet" type="text/css" href="./css/basic_structure.css" />
    <link rel="stylesheet" type="text/css" href="./css/approval_request_right_general.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!--------------------- side nav ------------------------------>

    <%- include('../partials/structure.ejs') %>


    <!-------------------------------main content other than basic structure ------------------------------>
    <!------------------------------------------ right content -------------------------------------------->

    <div class="bg-dark container" id="right_side_pane">
        <div class="row justify-content-between p-4">
            <div>
                <a href="javascript:void(0)" id="approve_btn" onclick="approveProfile()" class="btn btn-success mr-2">Approve</a>
                <a href="javascript:void(0)" id="reject_btn" onclick="rejectProfile()" class="btn btn-danger mr-2">Reject</a>
            </div>
            <a href="javascript:void(0)" class="h2" onclick="close_side_pane()"><i class="fa fa-close text-danger"></i></a>
        </div>
        <div id="VehicleOwnerid" class="pl-4 pr-4 ">
            <div class="p-3 text-white w-100">
                <table>
                    <tr>
                        <th>Name:</th>
                        <td id="firstname">8767876545
                            <td id="lastname"></td>
                        </td>
                    </tr>
                    <tr>
                        <th>Mobile:</th>
                        <td id="email">8767876545</td>
                    </tr>
                    <tr>
                        <th>Mobile:</th>
                        <td id="mobile">8767876545</td>
                    </tr>
                    <tr>
                        <th>Mobile:</th>
                        <td id="accountno">8767876545</td>
                    </tr>
                    <tr>
                        <th>email:</th>
                        <td id="ifsc">xyz@gmail.com</td>
                    </tr>
                    <tr>
                        <th>Pan:</th>
                        <td id="city">DUF5YHH7777</td>
                    </tr>
                    <tr>
                        <th>Aadhar:</th>
                        <td id="gst">888766564434</td>
                    </tr>
                    <tr>
                        <th>City:</th>
                        <td id="sta">Bhopal</td>
                    </tr>
                </table>
            </div>
            <div class="container" id="document_container">
                <div class="row w-100">
                    <div class="col-12">
                        <img target="_blank" id="aadhaar" alt="not avaliable">
                    </div>

                    <div class="col-12">
                        <img target="_blank" id="pan" alt="not avaliable">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="container-fluid">
            <div id="top-nav" class="row p-2 bg-white justify-content-end">
                <a href="/logout" class="btn btn-danger p-2 rounded mr-4">Logout</a>
            </div>
            <!---------------------------- main content row start here-->
            <div class="row p-3 ">
                <div class="w-100 text-center text-primary border-bottom">
                    <h3>Transporters Approval Request</h3>
                </div>
                <div class="container-fluid">
                    <% for (var i =0; i <=data.transporter.length;  i++ ) { %>
                        <div id="request-card" class="row mb-4 d-flex align-items-end justify-content-between p-3 bg-white">
                            <div id="am7415274813">
                                <h5>
                                    <%= data.transporter[i].firstname %>
                                        <%= data.transporter[i].lastname %> (
                                            <%= data.transporter[i].mobile %>)
                                </h5>
                                <p>City :
                                    <%= data.transporter[i].city %>
                                </p>
                                <a href="javascript:void(0)" onclick="showRequestDetails(<%= data.transporter[i].mobile %>)" class="btn btn-primary">Show
                                    more details
                                </a>
                            </div>

                        </div>
                        <% } %>
                </div>
            </div>
        </div>
        <!-- <div class="bg-dark p-4 container-fluid" id="right_side_pane">

        </div> -->
    </div>


</body>
<!-------------------------------open side pane script ------------------------------------->

<script>
    function showRequestDetails(mobile) {
        var right_pane = document.getElementById("right_side_pane");
        if (right_pane.style.display == "block") {
            right_pane.style.width = "0%";
            right_pane.style.display = "none";
        }
        else {
            right_pane.style.width = "50%";
            right_pane.style.right = "0";
            right_pane.style.display = "block";
            //send ajax request to a api
            var xmlhttp = new XMLHttpRequest();
            var url = "/gettransporterdata/" + mobile;
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var amdata = JSON.parse(this.responseText);
                    placeInPane(amdata, mobile);
                }
            };
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }
    }
    function close_side_pane() {
        var right_pane = document.getElementById("right_side_pane");
        right_pane.style.width = "0%";
        right_pane.style.display = "none";
    }
    function placeInPane(data, mobile) {
        var i = 0;

        var keys = Object.keys(data)
        for (i = 1; i < Object.keys(data).length; i++) {
            if (keys[i] != "aadhaar" || keys[i] != "pan") {
                document.getElementById(keys[i]).innerHTML = data[keys[i]];
            }
            else {
                document.getElementById(keys[i]).setAttribute('src', data[keys[i]]);
                document.getElementById(keys[i]).setAttribute('onclick', imgClick(data[keys[i]]));
            }
        }
        document.getElementById("approve_btn").setAttribute('onclick', approveProfile(mobile))
        document.getElementById("reject_btn").setAttribute('onclick', rejectProfile(mobile))

    }
</script>
<!-------------------------------accept reject profile script ------------------------------------->
<script>
    function rejectProfile(mobile) {
        var reason = prompt("Please tell us the reason why profile is rejected");
        console.log(reason);
    }

    function approveProfile(mobile) {

    }
</script>

<!-------------------------------accept reject profile script ------------------------------------->
<script>
    function openImage(imgaddress) {
        window.open(imgaddress);
    }
</script>

<script src="./js/bootstrap/bootstrap.min.js"></script>
<script src="./js/basic_structure.js"></script>

</html>