<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" />
    <!--Vendor CSS Files -->
    <link href=".../static/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../css/basic_structure.css" />
    <link rel="stylesheet" type="text/css" href="../css/employee_profile_general.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <!--------------------- side nav ------------------------------>

    <%- include('../partials/structure.ejs') %>

    <!------------------------------- right content -------------------------------------------->
    <div class="main">
        <div class="container-fluid">
            <div id="top-nav" class="row p-2 bg-white justify-content-end">
                <a href="/webadminlogout" class="btn btn-danger p-2 rounded mr-4">Logout</a>
            </div>
            <!---------------------------- main content row start here-->
            <div class="row p-3 ">

                <br>
                <div class="container-fluid">
                    <!-- profile photo with name -->
                    <div class="row justify-content-between align-items-baseline">
                        <div class="d-flex justify-content-start align-items-center mt-4">
                            <div id="profile-pic" class="mr-4">
                                <img src="../images/avatar.png" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <h3>
                                    <%= data.transporter.firstname %>
                                        <%= data.transporter.lastname %>
                                </h3>
                                <p>(Transporter)</p>
                            </div>
                        </div>
                        <div><img src="../images/transporter.png" class="mr-4" width="130" height="90" alt=""></div>

                    </div>
                    <br><br>
                    <div id="profile-content" class="row justify-content-start">
                        <div class="w-25 mr-4">
                            <div class="pl-2 pt-3 pb-2 bg-primary text-light">
                                <h5>Personal Details</h5>
                            </div>
                            <div class="p-3 bg-white">
                                <table style="width:100%">
                                    <tr>
                                        <th>Mobile:</th>
                                        <td>
                                            <%= data.transporter.mobile %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>email:</th>
                                        <td>
                                            <%= data.transporter.email %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>City:</th>
                                        <td>
                                            <%= data.transporter.city %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Pan:</th>
                                        <td>
                                            <%= data.transporter.pan %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Aadhar:</th>
                                        <td>
                                            <%= data.transporter.aadhaar %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="w-50 bg-white">
                            <div class="pl-2 pt-2 pb-1 bg-success text-light">
                                <h5>Documents Details</h5>
                            </div>
                            <div class="p-3 bg-white">
                                <table style="width:100%">
                                    <tr>
                                        <th>GST:</th>
                                        <td>
                                            <%= data.transporter.gst %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>STA no:</th>
                                        <td>
                                            <%= data.transporter.sta %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Mining liscence no:</th>
                                        <td>
                                            <%= data.transporter.mininglicense %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-------    commented if needed uncomment it 
                    <br><br>
                    <div class="row">
                        <div class="w-50 bg-white">
                            <div class="pl-2 pt-2 pb-1 bg-success text-light">
                                <h5>No of vehicles Details</h5>
                            </div>
                            <div class="p-3 bg-white">
                                <table style="width:100%">
                                    <tr>
                                        <th>Vehicle Number:</th>
                                        <th>RC number
                                            </td>
                                    </tr>
                                    <tr>
                                        <td>Mp05vd5667</td>
                                        <td>3450997289958</td>
                                    </tr>
                                    <tr>
                                        <td>Mp05vd5667</td>
                                        <td>3450997289958</td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="w-75">
                            <div class="pl-2 pt-3 pb-2 bg-primary text-center text-light">
                                <h5>Invoice Details</h5>
                            </div>
                            <div id="vo_invoice_container" class="container-fluid bg-white">
                                <div class="row p-2 justify-content-between">
                                    <table style="width:100%">
                                        <tr>
                                            <th>Mine Id</th>
                                            <th>Invoice id</th>
                                            <th>Date</th>
                                        </tr>
                                        <tr>
                                            <td>234ertr</td>
                                            <td>1234</td>
                                            <td>28-nov-2020</td>
                                        </tr>
                                        <tr>
                                            <td>234ertr</td>
                                            <td>1234</td>
                                            <td>28-nov-2020</td>
                                        </tr>
                                        <tr>
                                            <td>234ertr</td>
                                            <td>1234</td>
                                            <td>28-nov-2020</td>
                                        </tr>
                                        <tr>
                                            <td>234ertr</td>
                                            <td>1234</td>
                                            <td>28-nov-2020</td>
                                        </tr>
                                        <tr>
                                            <td>234ertr</td>
                                            <td>1234</td>
                                            <td>28-nov-2020</td>
                                        </tr>
                                        <tr>
                                            <td>234ertr</td>
                                            <td>1234</td>
                                            <td>28-nov-2020</td>
                                        </tr>
                                        <tr>
                                            <td>234ertr</td>
                                            <td>1234</td>
                                            <td>28-nov-2020</td>
                                        </tr>
                                        <tr>
                                            <td>234ertr</td>
                                            <td>1234</td>
                                            <td>28-nov-2020</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/basic_structure.js"></script>

</html>