<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap libs  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="../css/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="../css/employee_search_input_table.css" />

    <link type="text/css" rel="stylesheet" href="../css/profile_page_general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        .table-shadow {
            box-shadow: -1px 1px 7px #888888;
        }
    </style>

</head>

<body>

    <div class="d-flex" id="wrapper">

        <%- include('../partials/responsive_side_bar_admin.ejs') %>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-light border-bottom">

                    <a href="javascript:void(0)" class="btn text-primary" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <div class="">
                        <a href="/webadminlogout" class="btn btn-danger">Logout</a>
                    </div>
                </nav>

                <!-- page content start here -->
                <div class="container-fluid">

                    <!-- profile pic and names -->
                    <div class="row d-flex mr-4 mt-4 ml-2 flex-wrap align-items-center justify-content-between">
                        <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
                            <div id="profile-pic" class="mr-4">
                                <img src="../images/avatar.png" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <h3>
                                    <%= data.transporter.name %>
                                </h3>
                                <p>(Transporter)</p>
                            </div>

                        </div>
                        <div class="mt-2">
                            <img src="../images/truck.png" class="mr-4" width="100" height="70" alt="">
                        </div>
                    </div>

                    <!-- personal and bank details  -->
                    <br><br>
                    <div id="profile-content" class="row justify-content-start mr-4">
                        <div class="col-lg-6 mt-2 col-md-12">
                            <div class="pl-2 pt-3 pb-2 bg-primary text-light">
                                <h5>Personal Details</h5>
                            </div>
                            <div class="p-3 table-responsive shadow bg-light">
                                <table class="table table-borderless" style="width:100%">
                                    <tr>
                                        <th>Mobile:</th>
                                        <td>
                                            <%= data.transporter.mobile %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>email:</th>
                                        <td>
                                            <%= data.transporter.email %>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Pan:</th>
                                        <td>
                                            <%= data.transporter.pan %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Aadhar:</th>
                                        <td>
                                            <%= data.transporter.aadhaar %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-2 col-md-12 ">
                            <div class="pl-2 pt-2 pb-1 bg-success text-light">
                                <h5>Bank Details</h5>
                            </div>
                            <div class="p-3 table-responsive shadow bg-light ">
                                <table class="table table-borderless" style="width:100%">
                                    <tr>
                                        <th>GST:</th>
                                        <td>
                                            <%= data.transporter.gst %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>STA no:</th>
                                        <td>
                                            <%= data.transporter.sta %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Mining liscence no:</th>
                                        <td>
                                            <%= data.transporter.mininglicense %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Mines</th>
                                        <td>
                                            <% for (var j =0; j < data.transporter.mines.length;  j++ ) { %>
                                                <%= data.transporter.mines[j].name %> ,
                                                    <% } %>
                                        </td>
                                    </tr>

                                </table>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- Page content end here  -->
            </div>
            <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->







    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>