<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap libs  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="../css/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="../css/employee_search_input_table.css" />

    <link type="text/css" rel="stylesheet" href="../css/profile_page_general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        .table-shadow {
            box-shadow: -1px 1px 7px #888888;
        }
    </style>

</head>

<body>

    <div class="d-flex" id="wrapper">

        <%- include('../partials/responsive_side_bar_admin.ejs') %>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-light border-bottom">

                    <a href="javascript:void(0)" class="btn text-primary" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <div class="">
                        <a href="/webadminlogout" class="btn btn-danger">Logout</a>
                    </div>
                </nav>

                <!-- page content start here -->
                <div class="container-fluid">
                    <!-- profile pic and names -->
                    <div class="row d-flex mr-4 mt-4 ml-2 flex-wrap align-items-center justify-content-between">

                        <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
                            <div id="profile-pic" class="mr-4">
                                <img src="../images/avatar.png" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <h3>
                                    <%= data.vehicleowner.name %>
                                </h3>
                                <p>Vehicle Owner</p>
                            </div>

                        </div>
                        <div class="mt-2">
                            <img src="../images/truck.png" class="mr-4" width="100" height="70" alt="">
                        </div>
                    </div>

                    <!-- personal and bank details  -->
                    <br><br>
                    <div id="profile-content" class="row justify-content-start mr-4">
                        <div class="col-lg-6 mt-2 col-md-12">
                            <div class="pl-2 pt-3 pb-2 bg-primary text-light">
                                <h5>Personal Details</h5>
                            </div>
                            <div class="p-3 table-responsive shadow bg-light">
                                <table class="table table-borderless" style="width:100%">
                                    <tr>
                                        <th>Mobile:</th>
                                        <td>
                                            <%= data.vehicleowner.mobile %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>email:</th>
                                        <td>
                                            <%= data.vehicleowner.email %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Pan:</th>
                                        <td>
                                            <%= data.vehicleowner.pan %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>TDS Declaration:</th>
                                        <td>
                                            <%= data.vehicleowner.tds %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-2 col-md-12 ">
                            <div class="pl-2 pt-2 pb-1 bg-success text-light">
                                <h5>Bank Details</h5>
                            </div>
                            <div class="p-3 table-responsive shadow bg-light ">
                                <table class="table table-borderless" style="width:100%">
                                    <tr>
                                        <th>Ifsc:</th>
                                        <td>
                                            <%= data.vehicleowner.ifsc %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Bank:</th>
                                        <td>
                                            <%= data.vehicleowner.bankname %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Acc no:</th>
                                        <td>
                                            <%= data.vehicleowner.accountno %>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>

                    <!--vehicle details table  -->
                    <br>
                    <div id="profile-content" class="row justify-content-start mr-4">
                        <div class="col-md-12 col-lg-6 box-shadow">
                            <div class="pl-2 pt-2 pb-1 bg-success text-light">
                                <h5>No of vehicles Details</h5>
                            </div>
                            <div class="p-3 table-responsive shadow bg-light">
                                <table class="table table-borderless" style="width:100%">
                                    <tr>
                                        <th>Vehicle Number:</th>
                                        <th>RC number
                                            </td>
                                    </tr>
                                    <% for (var i =0; i < data.vehicleowner.vehicles.length;  i++ ) { %>
                                        <tr>
                                            <td>
                                                <%= data.vehicleowner.vehicles[i].number %>
                                            </td>
                                            <td>
                                                <%= data.vehicleowner.vehicles[i].rc %>
                                            </td>
                                        </tr>
                                        <% } %>
                                </table>
                            </div>
                        </div>
                    </div>


                    <!-- all invoices  -->
                    <br>
                    <div id="profile-content" class="row justify-content-start mr-4">
                        <div class="col-lg-12 box-shadow">
                            <div class="pl-2 pt-3 pb-2 text-center bg-primary text-light">
                                <h5>Invoice Details</h5>
                            </div>
                            <!-- prev next button -->
                            <div class="row p-2 align-items-baseline w-100">
                                <a href="/webspecificvehicleowner/<%= data.vehicleowner.mobile %>?page=<%= data.prev %>" class="btn mx-2 btn-primary">prev</a>
                                <p>Page
                                    <%= data.page %>
                                </p>
                                <a href="/webspecificvehicleowner/<%= data.vehicleowner.mobile %>?page=<%= data.next %>" class="btn mx-2 btn-primary">next</a>
                            </div>
                            <div class="table-responsive p-2 shadow justify-content-between">
                                <table class="table table-borderless" style="width:100%">
                                    <tr class="border-bottom mb-4">
                                        <th>Invoice id</th>
                                        <th>Mine id</th>
                                        <th>Date</th>
                                        <th>tonnage</th>
                                        <th>rate</th>
                                        <th>amount</th>
                                    </tr>
                                    <% if(data.vehicleowner.invoices.length > 0) { %>
                                        <% for (var i =0; i < data.vehicleowner.invoices.length;  i++ ) { %>
                                            <tr>
                                                <td> <a href="/webspecificinvoice/<%= data.vehicleowner.invoices[i].id %>">
                                                        <%= data.vehicleowner.invoices[i].id %></a>
                                                </td>
                                                <td>
                                                    <%=  data.vehicleowner.invoices[i].mine %>
                                                </td>
                                                <td>
                                                    <%=  data.vehicleowner.invoices[i].date %>
                                                </td>
                                                <td>
                                                    <%=  data.vehicleowner.invoices[i].tonnage %>
                                                </td>
                                                <td>
                                                    <%=  data.vehicleowner.invoices[i].rate %>
                                                </td>
                                                <td>
                                                    <%=  data.vehicleowner.invoices[i].amount %>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% } else { %>
                                                    <tr>

                                                        <td>
                                                            <h4 class="text-danger">
                                                                No invoices found
                                                            </h4>
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <% } %>

                                </table>

                            </div>
                        </div>
                    </div>
                    <br>

                </div>
                <!-- Page content end here  -->
            </div>
            <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->







    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>
<script>
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
        location.reload(true);
    }
</script>

</html>