<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.css" />
    <!--Vendor CSS Files -->
    <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./css/basic_structure.css" />
    <link rel="stylesheet" type="text/css" href="./css/vehicle_owner_list.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
</head>

<body>
    <!--------------------- side nav ------------------------------>

    <div class="sidenav">
        <div class="row justify-content-center mb-4">
            <img src="./images/logo.jpg" alt="logo here" width="70" height="70">
        </div>
        <a href="#about">My Profile</a>
        <a href="#services">Mines</a>
        <a href="#contact">Finance Dept</a>
        <a href="#contact">Transporter</a>
        <a href="#contact">Area Manager</a>
        <a href="#contact">Field Staff</a>
        <a href="#reports">Invoice Reports</a>
        <button class="dropdown-btn align-self-baseline"> Vechicle Owner
            <i class="fa fa-caret-down mt-1"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Vehicle Owner Request</a>
            <a href="#">All Vehicle Owners</a>
        </div>
        <a href="#resale">Resale</a>
        <a href="#rewards">Rewards</a>
    </div>
    <!------------------------------- right content -------------------------------------------->
    <div class="main">
        <div class="container-fluid">
            <div id="top-nav" class="row p-2 bg-white justify-content-end">
                <a href="/logout" class="btn btn-danger p-2 rounded mr-4">Logout</a>
            </div>
            <!---------------------------- main content row start here ------------------------------------->
            <div class="row p-3 ">
                <div class="w-100 text-center text-primary border-bottom">
                    <h3><span class="text-success"> VERIFIED </span> Vehicle Owner List</h3>
                </div>
                <br>
                <div class="container">
                    <br>
                    <div class="row justify-content-center">
                        <div id="search-input-row" class="w-75">
                            <input type="text" class="w-100 rounded" id="searchInput" onkeyup="filterInvoice()" placeholder="  Search for anything to filter data.."
                                title="Type in a name">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <table id="invoiceTable">
                            <tr class="header">
                                <th>Name</th>
                                <th>Vehicle No</th>
                                <th>Mobile</th>
                                <th>City</th>
                            </tr>
                            <% for (var i =0; i <=data.vehicleowner.length;  i++ ) { %>
                                <tr>
                                    <td><a href="/specificvehicleowner/<%= data.vehicleowner[i].mobile %>"> <%= data.vehicleowner[i].id %></a></td>
                                    <td>
                                        <%= data.vehicleowner[i].firstname %>
                                            <%= data.vehicleowner[i].lastname %>
                                    </td>
                                    <td>
                                        <%= data.vehicleowner[i].vehicleno %>
                                    </td>
                                    <td>
                                        <%= data.vehicleowner[i].mobile %>
                                    </td>
                                    <td>
                                        <%= data.vehicleowner[i].city %>
                                    </td>
                                </tr>
                                <% } %>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="./js/bootstrap/bootstrap.min.js"></script>
<script src="./js/basic_structure.js"></script>

</html>