<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap libs  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="../css/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="../css/employee_search_input_table.css" />

    <link type="text/css" rel="stylesheet" href="../css/profile_page_general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        .table-shadow {
            box-shadow: -1px 1px 7px #888888;
        }
    </style>

</head>

<body>

    <div class="d-flex" id="wrapper">

        <%- include('../partials/responsive_side_bar_admin.ejs') %>

            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-light border-bottom">

                    <a href="javascript:void(0)" class="btn text-primary" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <div class="">
                        <a href="/webadminlogout" class="btn btn-danger">Logout</a>
                    </div>
                </nav>


                <!-- page content start here -->
                <div class="container ">
                    <!-- heading  -->
                    <div class="row mt-2">
                        <div class="w-100 text-center text-danger border-bottom">
                            <h4><span class="text-success"> VERIFIED </span> Vehicle Owner List</h4>
                        </div>
                        <br>
                    </div>
                    <br>
                    <!-- search input row -->
                    <div class="row  justify-content-center">
                        <div id="search-input-row" class="w-75">
                            <input type="text" class="w-100 rounded" id="searchInput" onkeyup="filterEmployee()" placeholder="  Search for anything to filter data.."
                                title="Type in a name">
                        </div>
                    </div>

                    <br>
                    <!-- prev next button -->
                    <div class="row p-2 d-flex align-items-baseline w-100">
                        <a href="/webvehicleownerall?page=<%= data.prev %>" class="btn mx-2 btn-primary">prev</a>
                        <p>Page
                            <%= data.page %>
                        </p>
                        <a href="/webvehicleownerall?page=<%= data.next %>" class="btn mx-2 btn-primary">next</a>
                    </div>
                    <br>

                    <!-- complete table list row  -->
                    <div id="EmployeesTable_row" class="table-responsive ml-2 d-flex justify-content-center row">
                        <table class="table" id="EmployeesTable">
                            <tr class="header">
                                <th>Name</th>
                                <th>Vehicle No</th>
                                <th>Mobile</th>
                                <th></th>
                            </tr>
                            <% if(data.vehicleowner.length != 0) { %>
                                <% for (var i =0; i < data.vehicleowner.length;  i++ ) { %>
                                    <tr>
                                        <td><a href="/webspecificvehicleowner/<%= data.vehicleowner[i].mobile %>?page=0">

                                                <%= data.vehicleowner[i].name %></a>
                                        </td>
                                        <td>
                                            <% for (var j =0; j < data.vehicleowner[i].vehicles.length;  j++ ) { %>
                                                <%= data.vehicleowner[i].vehicles[j].number %>
                                                    <% } %>

                                        </td>
                                        <td>
                                            <%= data.vehicleowner[i].mobile %>
                                        </td>
                                        <% if(data.vehicleowner[i].active == true) { %>
                                            <td>
                                                <a href="/webvehicleowner/activate/<%= data.vehicleowner[i].mobile %>/false" class="btn btn-danger">Deactivate</a>
                                            </td>
                                            <% } else { %>
                                                <td>
                                                    <a href="/webvehicleowner/activate/<%= data.vehicleowner[i].mobile %>/true" class="btn btn-success">Activate</a>
                                                </td>
                                                <% } %>
                                    </tr>
                                    <% } %>
                                        <% } else { %>
                                            <tr>
                                                <td>
                                                    <h4 class=" w-100 text-danger">No Vehicle Owner found</h4>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                            <% }  %>

                        </table>
                    </div>
                </div>


                <!-- Page content end here  -->
            </div>
            <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->







    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

<script>

    function filterEmployee() {
        var input, filter, table, tr, td, i, j, txtValue, no_of_col;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("EmployeesTable");
        tr = table.getElementsByTagName("tr");
        no_of_col = tr[0].getElementsByTagName('th').length;
        for (i = 0; i < tr.length; i++) {
            for (j = 0; j < no_of_col; j++) {
                td = tr[i].getElementsByTagName("td")[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    console.log(txtValue);
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

        }
    }
</script>
<script>
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
        location.reload(true);
    }
</script>

</html>